# To run containers as $UID:$GID, ether exports
# UID and GID, or fill it here.
# To run as current user: echo $(id -u):$(id -g)
UID=
GID=

# Used for docker-compose to namespace the containers
APP_NAME=php-starter

# The paht to code of php project
APP_PATH=../
